<div id="<%= dom_id event %>">
  <p>
    <strong>Poster:</strong>
    <%= image_tag event.poster_url, style:"width:100px; height100px" %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= event.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= event.description %>
  </p>

  <p>
    <strong>Event date:</strong>
    <%= event.event_date %>
  </p>
  <p>
    <strong>End date:</strong>
    <%= event.end_date %>
  </p>
  <p>
    <strong>Start time:</strong>
    <%= event.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= event.end_time %>
  </p>
  <p>
    <strong>Category:</strong>
    <%= event.category %>
  </p>

  <p>
    <strong>Subcategory:</strong>
    <%= event.subcategory %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= event.location %>
  </p>

  <strong>Ticket:</strong>
    <ul>
      <% event.tickets.each do |ticket| %>
        <li>
          <%= ticket.title %>
          RM <%= ticket.price %>
          <%= link_to "See More", ticket %>
        </li>
      <% end %>
    </ul>

</div>




